.auction-list-page {
  display: flex;
  justify-content: space-around;
  margin: 0px 30px;
  padding-bottom: 50px;

  .auction-list-wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}
