.login-section {
    font-family: 'Noto Sans KR', sans-serif;
    
    .ant-row {
        display: flex;
        justify-content: center;
    }

    .ant-divider {
        font-size: 30px;
        font-family: 'LeeSeoyun';
        margin-bottom: 50px;
    }
}