.mypage-section {
  display: flex;
  justify-content: center;
  gap: 5rem;

  width: 100vw;
  margin-bottom: 30px;
}

.mypage-list {
  width: 45rem;
}

.mypage-profile {
  margin-top: 45px;
}

.ant-list-item {
  display: flex;
  justify-content: left;

  & > * {
    width: 80px;
  }

  & > :nth-child(3) {
    width: auto;
  }
}
