.post-container {
  display: flex;
  flex-direction: column;
}

.post-list-page {
  display: flex;
  justify-content: space-around;
  margin: 0px 30px;
  font-family: "Noto Sans KR", sans-serif;

  .post-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
  }

  .category-section {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
