.post-detail {
    padding: 15px 0px 100px 0px;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;

    .content-wrapper {
        width: 500px;

        .ant-divider {
            margin: 15px 0px;
        }

        .ant-image {
            width: 500px;
        }

        .post-user-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;

            .avatar {
                display: flex;
                align-items: center;
                .ant-avatar {
                    margin-right: 8px;
                }
            }
        }

        .post-title {
            font-size: 20px;
            font-weight: bold;
        }

        .post-price {
            font-size: 17px;
        }

        .post-desc {
            margin: 15px 5px;
        }
    }
}