.auction-list-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    height: fit-content;
  }

  .auction-item {
    margin: 5px;

    .ant-card-cover {
      img {
        height: 200px;
      }
    }
  }
}
