.home-header {
  width: 100%;
  padding: 20px 40px 20px 0px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-left: 0px;

    .logo {
      font-size: 30px;
      font-family: 'LeeSeoyun';
    }

    li {
      text-decoration: none;
      color: black;

      input {
        color: black;
      }
    }
    li:hover {
      color: #9BCAEF;
    }
  }
}