.speech-bubble {
    &.sender {
        display: flex;
        justify-content: flex-end;

        span {
            border-radius: .4em;
            padding: 10px;
            margin: 5px 10px;
            background-color: #b1faff;
        }
    }

    &.receiver {
        display: flex;
        justify-content: flex-start;

        span {
            border-radius: .4em;
            padding: 10px;
            margin: 5px 10px;
            background-color: #b7e0fa;
        }
    }
}