.oipay-history-section {
  font-family: "Noto Sans KR", sans-serif;
  padding-bottom: 100px;

  .ant-list-item {
    .amount-text {
      width: 100px;
      text-align: right;
      margin-right: 30px;
    }
  }
}
